.nav{
    position: relative;
    z-index: 5;
    width: 100%;
    nav{
        position: fixed;
        background: -webkit-linear-gradient(to right, #fffcdcbb, #d9a7c770);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdcc5, #d9a7c7b9);
        z-index: 5;
        width: 100%;
        .nav-link{
            color: black !important;
        }
        .nav-link:hover{
            color: antiquewhite !important;
        }
    }
}